.header h3 {
    font-weight: lighter;
    font-size: 70px;
    padding-top: 20px;
    text-align: center;
}
.header {
    width: 1500px;
    height: 200px;
    background-color: rgba(219, 219, 219, 0);
    padding-top: 300px;
}
* {
    margin: 0;
    background-color: #607274;
    color: #FAEED1;
}

.biodata p {
    font-size: 45px;
}
.body {
    width: 1500px;
    height: 7000px;
    background-color: rgba(255, 0, 0, 0) ;
}
.biodata {
    padding-top: 50px;
    width: 1000px;
    margin-left: 250px;
    height: 3300px;
    background-color: rgba(7, 255, 48, 0);
}
.fullbody {
    background-color: rgba(255, 255, 255, 0);
    width: 1500px;
}
.fullbody img {
    max-width: 650px;
    margin-left: 325px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 60px; 
    background-color: rgba(255, 0, 0, 0);
}
ul li {
    float: left;
    list-style: none;
}
.biodata p {
    line-height: 80px;
}
.header a {
    text-decoration: none;

}
.uuaa ul li  {
    float: none;
    display: list-item;
}
.biodata p {
    font-weight: bold;
    padding-left: 60px;
}
.biodata span {
font-weight: lighter;
}
.biodata h5 {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    font-size: 50px;
    background-color: #B2A59B ;
    margin-left: -100px;
    margin-right: -100px;
    margin-top: 70px;
}
.history {
    background-color: #0052be00;
}
.history h5 {
    font-size: 50px;
    margin-top: 130px;
    margin-left: 100px;
    margin-bottom: 60px;
    background-color: transparent;
}
.history p {
    font-size: 50px;
    line-height: 85px;
    margin-left: 80px;
    margin-right: 80px;
    text-indent: 60px;
    background-color: transparent;
}
.personality h5 {
    font-size: 50px;
    margin-top: 130px;
    margin-left: 100px;
    margin-bottom: 60px;
}
.personality p {
    font-size: 50px;
    line-height: 85px;
    margin-left: 80px;
    margin-right: 80px;
    text-indent: 60px;
    background-color: transparent;
}
.appearance h5 {
    font-size: 50px;
    margin-top: 130px;
    margin-left: 100px;
    margin-bottom: 60px;
}
.appearance p {
    font-size: 50px;
    line-height: 85px;
    margin-left: 80px;
    margin-right: 80px;
    text-indent: 60px;
    background-color: transparent;
}
.relationship h5 {
    font-size: 50px;
    margin-top: 130px;
    margin-left: 100px;
    margin-bottom: 60px;
}
.relationship p {
    font-size: 50px;
    line-height: 85px;
    margin-left: 80px;
    margin-right: 80px;
    text-indent: 60px;
    background-color: transparent;
}
.relationship h6 {
    font-size: 60px;
    margin-top: 130px;
    margin-left: 0px;
    margin-bottom: 60px;
    background-color: #B2A59B ;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}
.relationship span {
    font-weight: bold;
}
.tiga {
    color: rgb(183, 244, 255);
}
.emissary {
    color:rgb(183, 244, 255) ;
}
.head h2 {
    font-size: 80px;
    font-weight: lighter;
    margin-left: 50px;
    background-color: transparent;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 0px;
}
.head {
    width: 1500px;
    height: 250px;
    background-color: rgb(233, 233, 233);
}
.head span {
    font-size: 150px;
}
.cio {
    font-size: 60px;
    text-align: center;
}
.dd {
    width: 1500px ;
    height: 120px;
    background-color: rgba(255, 0, 0, 0);
    font-size: 50px;
}
.dd ul {
    list-style: none ;

}
.dd ul li {
    float: left;
    width: 400px;
    padding-left: 50px;
    padding-top :30px ;
    padding-bottom : 30px ;
}
.submenu {
    display: none;
    margin-left : 200px ;
}
.dd ul li:hover .submenu {
    display: block;
    width: 400px;
    height: auto;
    position: absolute;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px;
}
.sub-sub-menu {
    display: none;
}
.dd ul li a {
    text-decoration: none;
    background-color: transparent;
}
.dd ul li:hover {
    background-color: #884851;
}
.submenu ul li:hover .sub-sub-menu {
    position:absolute ;
    display: block;
    width: 400px;
    height: auto;
    margin-left: 200px;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px;
}
.dd ul li p {
    cursor: pointer;
    background-color: transparent;
}
.dd ul li p:hover {
    background-color: transparent;
    transform: none;
}
.titik {
    background-color: #ff909f00;
    display: flex;
    margin-left: 400px;
    position: absolute;
    margin-top: -80px;
}
.qw {
    background-color: #88485000;
    display: flex;
    margin-left: 430px;
    position: absolute;
    margin-top: -80px;
}
