.header h3 {
    font-weight: lighter;
    font-size: 70px;
    padding-top: 20px;
    text-align: center;
}
.header {
    width: 1500px;
    height: 200px;
    background-color: rgba(219, 219, 219, 0);
    padding-top: 300px;
}
* {
    margin: 0;
    background-color: #607274;
    color: #FAEED1;
}

.biodata p {
    font-size: 45px;
}
.body {
    width: 1500px;
    height: 7000px;
    background-color: rgba(255, 0, 0, 0) ;
}
.biodata {
    padding-top: 50px;
    width: 1500px;
    height: 3300px;
    background-color: rgba(0, 255, 42, 0);
}
.fullbody {
    background-color: rgba(255, 255, 255, 0);
    width: 1500px;
}
.fullbody img {
    max-width: 650px;
    margin-left: 325px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 60px; 
    background-color: rgba(255, 0, 0, 0);
}
ul li {
    float: left;
    list-style: none;
}
.biodata p {
    line-height: 80px;
}
.header a {
    text-decoration: none;

}
.uuaa ul li  {
    float: none;
    display: list-item;
}
.biodata p {
    font-weight: bold;
    padding-left: 250px;
    padding-right: 250px;
}
.biodata span {
font-weight: lighter;
}
.biodata h5 {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    font-size: 50px;
    background-color: #B2A59B ;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 70px;
}
.history {
    background-color: #0052be00;
}
.history h5 {
    font-size: 50px;
    margin-top: 130px;
    margin-left: 100px;
    margin-bottom: 60px;
    background-color: transparent;
}
.history p {
    font-size: 50px;
    line-height: 85px;
    margin-left: 80px;
    margin-right: 80px;
    text-indent: 60px;
    background-color: transparent;
}
.personality h5 {
    font-size: 50px;
    margin-top: 130px;
    margin-left: 100px;
    margin-bottom: 60px;
}
.personality p {
    font-size: 50px;
    line-height: 85px;
    margin-left: 80px;
    margin-right: 80px;
    text-indent: 60px;
    background-color: transparent;
}
.appearance h5 {
    font-size: 50px;
    margin-top: 130px;
    margin-left: 100px;
    margin-bottom: 60px;
}
.appearance p {
    font-size: 50px;
    line-height: 85px;
    margin-left: 80px;
    margin-right: 80px;
    text-indent: 60px;
    background-color: transparent;
}
.relationship h5 {
    font-size: 50px;
    margin-top: 130px;
    margin-left: 100px;
    margin-bottom: 60px;
}
.relationship p {
    font-size: 50px;
    line-height: 85px;
    margin-left: 80px;
    margin-right: 80px;
    text-indent: 60px;
    background-color: transparent;
}
.relationship h6 {
    font-size: 60px;
    margin-top: 130px;
    margin-left: 0px;
    margin-bottom: 60px;
    background-color: #B2A59B ;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}
.relationship span {
    font-weight: bold;
}
.tiga {
    color: rgb(183, 244, 255);
}
.emissary {
    color:rgb(183, 244, 255) ;
}
.head h2 {
    font-size: 80px;
    font-weight: lighter;
    margin-left: 50px;
    background-color: transparent;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 0px;
}
.head {
    width: 1500px;
    height: 250px;
    background-color: rgb(233, 233, 233);
}
.head span {
    font-size: 150px;
}
.cio {
    font-size: 60px;
    text-align: center;
}
.anying {
    background-color: #607274 ;
    width: 1500px;
    height: 150px;
}
* {
    margin: 0;
    padding: 0;
}
.subheder {
display: none;
width: 400px;
height: 600px;
box-shadow: 5px 10px;
}
.subsubheder {
    display: none;
    box-shadow: 5px 10px;
}
.heder button{
    width: 400px;
    height: 150px;
    background-color: #607274;
    border: none;
    border-bottom: #faeed183 4px solid;
}
.heder ul li a{
    font-size: 45px;
    background-color: transparent;
    text-decoration: none;
    color: #FAEED1;
    padding-top: 100px;
}
.heder {
    background-color: #607274;
    height: 150px;
    margin-left: 100px;
}
.heder ul li {
    float: left;
    list-style: none;
    background-color: transparent;
}
.heder ul li:hover .subheder  {
    display: inline;
    position: absolute;
    float: none;
    margin-top: 150px;
    margin-left: -400px;
    background-color: transparent;
}
.subheder ul li:hover .subsubheder  {
    display: inline;
    position: absolute;
    float: none;
    margin-top: 0;
    margin-left: 0;
}
.heder .subheder button:hover {
    background-color: #88484f;
    transform: scale(120%);
    transition: 0,5s;
    border-radius: 40px;
}
.subheder img {
    max-width: 30px;
    display: list-item;
    position: absolute;
    background-color: transparent;
}
.heder img {
    max-width: 30px ;
    padding-right: 20px;
    background-color: transparent;
}
.heder button:hover {
    background-color: #88484f;
}
.puh img{
    max-width: 40px;
    background-color: transparent;
}
.puh {
    background-color: transparent;
}
.titik {
    background-color: #ff909f00;
    display: list-item;
    margin-left: 360px;
    position: absolute;
    margin-top: -80px;
    list-style: none;
}
.qw {
    background-color: #88485000;
    display: list-item;
    margin-left: 390px;
    margin-top: -80px;
    list-style: none;
}
